<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>REGISTRATION</title>
    <style>    
       h1{
	color:green;
	text-align:center;
	padding:5px;	
}
    </style>
</head>

<body>
	<h1>EMPLOYEE REGISTRATION FORM </h1>
       <fieldset>
	<form action="#" th:action="@{/save}" th:object="${employee}" method="post" align="center"  >
		First Name:<input type = "text" th:field="*{firstName}" placeholder="Enter your firstname" required></input>
		Last Name:<input type = "text" th:field="*{lastName}" placeholder="Enter your lastname" ></input><br><br>
		Email:<input type="email" th:field="*{email}" placeholder="Enter your email"></input><br><br>
		Street Address:<input type="text"th:field="*{streetAddress}" placeholder="Enter your streetAddress"></input><br><br>
		Mobile No:<input type="text" th:field="*{phone}" placeholder="Enter your phone number"></input><br><br>
		Date Of Birth <input type="date" th:field="*{date}" placeholder="Enter your date of Birth"></input><br><br>
		Country :<input type="text" th:field="*{country}" placeholder="Country" required></input><br><br>
		State : <input type="text" th:field="*{state}" placeholder="State"></input><br><br>
		City:<input type="text" th:field="*{city}" placeholder="Enter your city name"></input><br><br>
		Postal Code:<input  type="number" th:field="*{postalCode}" placeholder="Enter your postal code" required></input>
		<br><br>
		<button type="submit">Save</button>
	</form>
	</fieldset>
	<hr>
	<a th:href="@{/}"  class="btn btn-info btn-sm">Back To Home</a>
</body>